<div class="satisfacao">
  <div>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th style="width: 25%;">Data</th>
          <th style="width: 75%">Resumo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of dataSource" (click)="showSatisfacao(dataItem)">
          <td style="width: 25%;">{{ dataItem.DataHoraCadastro | date:'dd/MM/yy HH:mm' }}</td>
          <td style="width: 75%;"><span>{{ dataItem.Satisfacao }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div class="card mb-2">
      <div class="card-header"><h6>Satisfação</h6></div>
      <div class="card-body">
        {{ dataItem?.Satisfacao }}
      </div>
      <div class="card-footer"><span class="pull-right">{{ dataItem?.DataHoraCadastro | date:'dd/MM/yy HH:mm' }}</span></div>
    </div>
    <div class="card">
      <div class="card-header"><h6>Providência</h6></div>
      <div class="card-body">
        {{ dataItem?.Providencia }}
      </div>
      <div class="card-footer"><span class="pull-right">{{ dataItem?.DataProvidencia | date:'dd/MM/yy HH:mm' }}</span></div>
    </div>
  </div>
</div>